# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.pyo
*.env

# Node
node_modules/
npm-debug.log
yarn-error.log
dist/

# Environment variables
.env

# Logs
*.log

# Database
*.sqlite3

# IDEs and editors
.vscode/
.idea/
.DS_Store

path/

brave/